.display--block            { display: block; }
.display--inline-block     { display: inline-block; }
.display--inline           { display: inline; }
.display--inherit          { display: inherit; }
.display--initial          { display: initial; }
.display--none             { display: none; }